*{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    padding-top: 100px;
    width: 100vw;
    background-color: black;    

}

#form-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    padding: 40px 60px 40px 20px;
    border: 2px solid rgb(59, 190, 241);
}
label{
    font-weight: bold;
}

#cbox-l{
    font-style: italic;
    font-weight: lighter;
    font-size: 12px;
}

#comment{
    height: 200px;
}

#button{
    width: 60px;
    background-color:rgb(59, 190, 241) ;
    border: none;
    border-radius: 3px;
    padding: 5px;
    color: #fff;
    text-align: center;
}